:root {
  --bg-primary: #000;
  --bg-secondaary: #111;
  --primary: #00e9ff;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

.navbar-brand {
  font-weight: bold;
  color: var(--primary);
}
.navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav .nav-link.active {
  color: var(--primary);
}
.hero-section {
  text-align: center;
  padding: 100px 0;
}
.hero-section .box1 {
  text-align: start;
}
.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
}
.hero-section h1 span {
  color: var(--primary);
}
.hero-section p {
  font-size: 1.2rem;
}
.btn {
  margin: 10px;
  background-color: var(--primary);
}
.about-section {
  padding: 50px 0;
  text-align: center;
}
.about-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.about-section p {
  font-size: 1rem;
  margin-bottom: 30px;
}
.hero-section img {
  background-color: var(--bg-secondaary);
  width: 300px;

  object-fit: cover;
}
/* ============================== */
.about-section .section-title {
  color: var(--primary);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.about-section .main-title {
  font-size: 2.5rem;
  font-weight: bold;
}
.about-section .main-title span {
  color:var(--primary);
}
.about-section .description {
  margin: 1rem 0;
  line-height: 1.5;
}
.about-section .btn-custom {
  background-color: var(--primary);
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.about-section .service-box {
  background-color: var(--bg-secondaary);
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.about-section .service-box img {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}
.about-section .service-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.about-section .service-description {
  font-size: 0.9rem;
}
/* ================================= */
.resume-section {
  padding: 50px 0;
  text-align: center;
}
.resume-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.resume-section p {
  font-size: 1rem;
  margin-bottom: 30px;
}
.resume-section .card {
  background-color: #333;
  color: #fff;
  border: none;
  margin: 10px 0;
}
.resume-section .card h5 {
  color: var(--primary);
}
